<!DOCTYPE html>
<html lang='en' xmlns='http://www.w3.org/1999/xhtml'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Neshoes - Checkout</title>
    <link rel='stylesheet' href='/assetss/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/assetss/css/owl.carousel.min.css'>
    <link rel='stylesheet' href='/assetss/css/animated.css'>
    <link rel='stylesheet' href='/assetss/css/font-awesome.css'>
    <link rel='stylesheet' href='/assetss/css/ui.css'>
    <link rel='stylesheet' href='/assetss/css/jquery.mmenu.all.css'>
    <link rel='stylesheet' href='/assetss/css/flaticon.css'>
    <link rel='stylesheet' href='/assetss/css/style.css'>
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i;Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
</head>
<body class="blog-page blog-post">


<!-- End .banner -->
<div class="main-content">
    <div class="container">
            <a href="/mediodepago" class="button orange"> <span>Volver</span></a>
       
        <div class="row">
            <div class="content blog-content col-md-9 has-sidebar-left">
                <h4 class="blog-box-title">PAGAR CON MERCADO PAGO</h4>
                <ul class="blog-post-meta">
                    <li><a href="#"></a></li>
                    <li></li>
                    <li><a href="#"></a></li>
                </ul>
                <div class="blog-box">
                    <figure><img src="assett/images/mc.jpg" alt="blog-post" height="334" width="569"></figure>
                    <div class="blog-content-left">
                        <p class="blog-box-desc">Commodo laoreet semper tincidunt lorem Vestibulum nunc at In Curabitur magna.
                            Euismod euismod Suspendisse tortor ante adipiscing risus Aenean Lorem vitae id. Odio ut pretium
                            ligula quam Vestibulum consequat convallis fringilla Vestibulum nulla. Accumsan morbi tristique
                            auctor Aenean nulla lacinia Nullam elit vel vel. At risus pretium urna tortor metus fringilla interdum mauris tempor congue.<br/><br/>
 

                            Mi vitae magnis Fusce laoreet nibh felis porttitor laoreet Vestibulum faucibus.
                            At Nulla id tincidunt ut sed semper vel Lorem condimentum ornare.
                            Laoreet Vestibulum lacinia massa a commodo habitasse velit Vestibulum tincidunt In.
                            Turpis at eleifend leo mi elit Aenean porta ac sed faucibus. Nunc urna Morbi fringilla
                            vitae orci convallis condimentum auctor sit dui. Urna pretium elit mauris cursus Curabitur at elit Vestibulum.
                        </p>
                    </div>
                </div>

               
                    
                <div class="comment-blog">
                    
                    <p class="show-page"><a href="#"> </a></p>
                </div>
                <div class="comment-blog-form">
                   
                    <div class="mt-5">
                        <div class="row">
                            <div class="col-md-4">
                                <form action="/checkoutt" method="POST">
                                   <script src="https://www.mercadopago.com.ar/integrations/v1/web-payment-checkout.js"
                                    data-preference-id="<%= preference_id %>" data-button-label="Pagar">
                                   </script>
                                </form>
                           </div>  
                       </div>
                
                    </div>  
                </div>
            </div>
            <div class="sidebar col-md-3">
                <div class="sibar-blog">
                  
                    <div class="bestseller-sidebar-blog">
                        <p class="title-left"></p>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="section-icon-box">
        <div class="container">
            <div class="row">
        </div>
    </div>
</div>



<div class="footer-bottom">
    
    </ul>
    <div class="copyright">
        <i class="fa fa-copyright" aria-hidden="true"></i>
        Copyright 2016 <a href="#">SuperMarket</a> All rights reserved.
    </div>
</div>
</div>
<a href="#" class="backtotop ts-block"><span class="pulser"> Top</span></a>
</footer>
<!--end footer-->
<script type='text/javascript' src='/assett/js/jquery.min.js'></script>
<script type='text/javascript' src='/assett/js/bootstrap.min.js'></script>
<script type='text/javascript' src='/assett/js/wow.min.js'></script>
<script type='text/javascript' src='/assett/js/owl.carousel.min.js'></script>
<script type='text/javascript' src='/assett/js/jquery.appear.min.js'></script>
<script type='text/javascript' src='/assett/js/jquery.countTo.js'></script>
<script type='text/javascript' src='/assett/js/ui.js'></script>
<script type='text/javascript' src='/assett/js/jquery.bxslider.min.js'></script>
<script type='text/javascript' src='/assett/js/jquery.mmenu.all.min.js'></script>
<script type='text/javascript' src='/assett/js/chosen.jquery.min.js'></script>
<script type='text/javascript' src='/assett/js/jquery.countdown.js'></script>
<script type='text/javascript' src='/assett/js/frontend.js'></script>
</body>
</html>
  
     